

p {
margin-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
    bottom:-220px;

}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    height:180px;
    margin:0px;
    padding:0px;
    padding-top:30px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background-color:#50615B;
    
    border:1px solid black;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    height:100px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;

    margin-top: 10px;
    margin-bottom: 10px;
    max-width:200px;
    max-height:125px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/left-arrow5.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../images/right-arrow5.png) no-repeat;
}